In [35]:

doc1 = """
Ronaldo was born in Portugal. He started playing soccer at a very young age. 
Ronaldo was born in Fundal. 
His full name is Cristiano Ronaldo Dos Santos Aveiro.
The name Ronaldo in Cristiano Ronaldo was taken from the name of former Hollywood actor.
"""

doc2 = """
The Earth was formed about 4.7 billion years ago. 
The Earth shape is very close to that of a sphere. 
The Earth equatorial diameter is about 12,756 km. 
The Earth rotates on its axis.
"""

In [36]:
words = set(doc1.split()).union(set(doc2.split()))
print(words)

{'The', 'of', 'to', '12,756', 'His', 'ago.', 'billion', 'taken', 'about', 'soccer', 'He', 'very', 'km.', 'name', 'close', 'Hollywood', '4.7', 'actor.', 'age.', 'sphere.', 'Earth', 'started', 'former', 'from', 'young', 'the', 'on', 'Aveiro.', 'born', 'at', 'Portugal.', 'Fundal.', 'Ronaldo', 'axis.', 'Santos', 'in', 'a', 'rotates', 'years', 'Dos', 'was', 'full', 'its', 'formed', 'shape', 'equatorial', 'Cristiano', 'playing', 'is', 'diameter', 'that'}

In [37]:
from collections import Counter
wordsDictDoc1 = Counter(doc1.split())
print(wordsDictDoc1)

Counter({'Ronaldo': 5, 'Cristiano': 4, 'in': 3, 'name': 3, 'was': 3, 'born': 2, 'young': 1, 'The': 1, 'former': 1, 'Aveiro.': 1, 'the': 1, 'Portugal.': 1, 'Fundal.': 1, 'His': 1, 'Dos': 1, 'of': 1, 'taken': 1, 'Santos': 1, 'soccer': 1, 'He': 1, 'very': 1, 'a': 1, 'at': 1, 'full': 1, 'Hollywood': 1, 'actor.': 1, 'age.': 1, 'started': 1, 'playing': 1, 'is': 1, 'from': 1})

In [38]:
from collections import Counter
wordsDictDoc2 = Counter(doc2.split())
print(wordsDictDoc2)

Counter({'The': 4, 'Earth': 4, 'about': 2, 'is': 2, '12,756': 1, 'to': 1, 'rotates': 1, 'of': 1, 'ago.': 1, 'axis.': 1, 'billion': 1, 'a': 1, 'very': 1, 'years': 1, 'close': 1, 'was': 1, 'its': 1, 'formed': 1, '4.7': 1, 'equatorial': 1, 'shape': 1, 'sphere.': 1, 'km.': 1, 'diameter': 1, 'on': 1, 'that': 1})

In [39]:
import pandas as pd
pd.DataFrame([wordsDictDoc1, wordsDictDoc2]).fillna(0)

,"12,756",4.7,Aveiro.,Cristiano,Dos,Earth,Fundal.,He,His,Hollywood,...,sphere.,started,taken,that,the,to,very,was,years,young
0,0.0,0.0,1.0,4.0,1.0,0.0,1.0,1.0,1.0,1.0,...,0.0,1.0,1.0,0.0,1.0,0.0,1,3,0.0,1.0
1,1.0,1.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,1.0,1,1,1.0,0.0

In [40]:
def  tf (wordDict, listofwords):
    tfDict = {}
    wordscount = len(listofwords)
    for word, count in wordDict.items():
        tfDict[word] = count/float(wordscount)
    return tfDict

In [44]:
tfDoc1 = tf(wordsDictDoc1,doc1.split())
print(tfDoc1['Ronaldo'])
tfDoc2 = tf(wordsDictDoc2,doc2.split())
print(tfDoc2['Earth'])

0.1111111111111111
0.11764705882352941

In [77]:
import math
def idf(docList,words):
    idfDict = {}
    N = len(docList)
    idfDict = dict.fromkeys(words, 0)
    for doc in docList:
        for word, val in doc.items():
            if val > 0:
                idfDict[word] += 1
    
    for word, val in idfDict.items():
        idfDict[word] = math.log10(N / float(val))
    print(idfs)    
    return idfDict

In [78]:
idfs = idf([wordsDictDoc1,wordsDictDoc2],words)

{'The': 0.0, '12,756': 0.3010299956639812, 'to': 0.3010299956639812, 'km.': 0.3010299956639812, 'of': 0.0, 'His': 0.3010299956639812, 'ago.': 0.3010299956639812, 'billion': 0.3010299956639812, 'taken': 0.3010299956639812, 'about': 0.3010299956639812, 'soccer': 0.3010299956639812, 'He': 0.3010299956639812, 'very': 0.0, 'name': 0.3010299956639812, 'close': 0.3010299956639812, 'at': 0.3010299956639812, 'a': 0.0, 'Hollywood': 0.3010299956639812, 'actor.': 0.3010299956639812, 'age.': 0.3010299956639812, 'sphere.': 0.3010299956639812, 'Earth': 0.3010299956639812, 'started': 0.3010299956639812, 'former': 0.3010299956639812, 'from': 0.3010299956639812, 'young': 0.3010299956639812, 'the': 0.3010299956639812, 'Aveiro.': 0.3010299956639812, 'born': 0.3010299956639812, 'Portugal.': 0.3010299956639812, 'Fundal.': 0.3010299956639812, 'Ronaldo': 0.3010299956639812, 'Santos': 0.3010299956639812, 'axis.': 0.3010299956639812, 'in': 0.3010299956639812, 'rotates': 0.3010299956639812, 'years': 0.3010299956639812, 'Dos': 0.3010299956639812, 'was': 0.0, 'its': 0.3010299956639812, 'formed': 0.3010299956639812, '4.7': 0.3010299956639812, 'shape': 0.3010299956639812, 'full': 0.3010299956639812, 'equatorial': 0.3010299956639812, 'Cristiano': 0.3010299956639812, 'playing': 0.3010299956639812, 'is': 0.0, 'diameter': 0.3010299956639812, 'on': 0.3010299956639812, 'that': 0.3010299956639812}

In [82]:
print(idfs['Ronaldo'])
print(idfs['is'])

0.3010299956639812
0.0

In [85]:
tfidfDoc1 = tfidf(tfDoc1, idfs)
tfidfDoc2 = tfidf(tfDoc2, idfs)
pd.DataFrame([tfidfDoc1, tfidfDoc1])

,Aveiro.,Cristiano,Dos,Fundal.,He,His,Hollywood,Portugal.,Ronaldo,Santos,...,name,of,playing,soccer,started,taken,the,very,was,young
0,0.00669,0.026758,0.00669,0.00669,0.00669,0.00669,0.00669,0.00669,0.033448,0.00669,...,0.020069,0.0,0.00669,0.00669,0.00669,0.00669,0.00669,0.0,0.0,0.00669
1,0.00669,0.026758,0.00669,0.00669,0.00669,0.00669,0.00669,0.00669,0.033448,0.00669,...,0.020069,0.0,0.00669,0.00669,0.00669,0.00669,0.00669,0.0,0.0,0.00669

In [84]:
def tfidf(tfDoc, idfs):
    tfidf = {}
    for word, val in tfDoc.items():
        tfidf[word] = val*idfs[word]
    return tfidf

In [92]:
print("Importance of word 'Ronaldo' in Doc1 ",tfidfDoc1["Ronaldo"])
print("Importance of word 'is' in Doc1",tfidfDoc1["is"])

Importance of word 'Ronaldo' in Doc1  0.03344777729599791
Importance of word 'is' in Doc1 0.0

In [93]:
print("Importance of word 'Earth' in Doc2 ",tfidfDoc2["Earth"])
print("Importance of word 'The' in Doc2 ",tfidfDoc2["The"])

Importance of word 'Earth' in Doc2  0.0354152936075272
Importance of word 'The' in Doc2  0.0

In [124]:
from sklearn.feature_extraction.text import TfidfVectorizer
corpus = [doc1,doc2]
obj = TfidfVectorizer()

X = obj.fit_transform([doc1,doc2])
df = pd.DataFrame(X.toarray())
df.columns = obj.get_feature_names()
print(df)

         12       756     about     actor       age       ago        at  \
0  0.000000  0.000000  0.000000  0.105351  0.105351  0.000000  0.105351
1  0.141928  0.141928  0.283856  0.000000  0.000000  0.141928  0.000000

     aveiro      axis   billion    ...       sphere   started     taken  \
0  0.105351  0.000000  0.000000    ...     0.000000  0.105351  0.105351
1  0.000000  0.141928  0.141928    ...     0.141928  0.000000  0.000000

       that       the        to      very       was     years     young
0  0.000000  0.149916  0.000000  0.074958  0.224874  0.000000  0.105351
1  0.141928  0.403932  0.141928  0.100983  0.100983  0.141928  0.000000

[2 rows x 49 columns]